<h1 class="text-center">All Articles</h1>


<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>
<%= render "articles" %>
<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>